[Desktop Entry]
Version=7.7.1
Name=Notepad++
Comment=Notepad++ Wine Terminal Shortcut
Exec=wine /home/taj/Notepad++/notepad++.exe
Icon=/home/taj/Notepad++/notepad++.exe
Terminal=False
Type=Application
Categories=Application
Name[en_US]=Notepad++.desktop
